body{
	margin:0px;padding:0px;
}

                              /***********navber*********/
#main-nav .navbar-brand{
	color:#44ff15!important;
	font-size:30px!important;
	font-family:arial-black;
	margin:0px;
	padding:0px;
}

#main-nav {
    background-color: #38393eeb!important;
    border-bottom: 3px solid #20c997;
    padding:0px;
}



#main-nav ul li a:hover{
	color: #20c997!important;
	height:100%;
	
}

#main-nav ul li a {
    color: white!important;
    font-weight: 800;
    font-family: arial-black;
}
 .carousel-inner img {
    width: 100%;
    height: 100%;
  }
                           /**slider**/


                               /**about us**/
							   

#about .container{
	margin-top:30px;
}
#about img{
	
}	



                                                /***PROGRES BER**/
		
#about .progressBar h2{
	text-align:center;
	margin-bottom:8px;
	color:#ff5722;
}
#about .progressBar h5{
	text-align:center;
	margin-bottom:8px;
	color:#ff5722;
}		
.progress{
    height:5px!important;
    border-radius: 0;
    box-shadow: none;
    line-height: 35px;
    background:#d6d6d6;
}
.progressbar-title {
    line-height: 54px;
    color: #666666;
    font-size: 18px;
    margin: 9px 0 5px;
    font-weight: bold;
}
.progressbar-value{
    float: right;
    display:block;
}
.progress .progress-bar{
    animation: progress 5s;
}
@-webkit-keyframes progress{
    0% { width: 0%;}
}
@keyframes progress{
    0% { width:0%; }
}
.progress-bar{
	    background-color: #20c997!important;
}

                                         /***Service section*****/
#service{
	background-image:url("images/Background3.jpg");
	color: #7b6565;
	margin-top:15px;
	animation-name: xoomInbox;
	background-attachment: fixed;
	font-weight: bold;
}
#service h1{
	text-align:center;
	margin-top:12px;
	margin-bottom:12px;
}										 
#service .card{
	background-color: #8e8a8a40;
	animation-duration: 3s;
	border: 1px solid #777373!important;
}
#service div#service-icon {
    font-size: 61px;
    color: #7b6565;
}
#service .card:hover{
	transition:all 1.3s;
	transform:translateY(-12px);
	cursor:pointer;
	color: #7b6565;
}
#service .card:hover h3{
	transform:translateX(20px);
	transition:all 1.3s;
}
                         /*****2Nd service box****/
						 
#service-section2{
background-image:url("images/background.jpg");
background-attachment: fixed;	
}
#service-section2 h1{
	text-align:center;
	color:white;
}	
#service-section2 p{
	text-align:center;
	color:white;
	font-size:17px;
}					 
.serviceBox{
    padding: 25px 30px;
    text-align: center;
    background: #25292a61;
    border-top: 3px solid #f5f5f5;
    border-bottom: 3px solid #2a7f69;
    position: relative;
    height:98%!important;
    border: 1px solid #f0f7f0;
}
.serviceBox:before{
    content: "";
    border-top: 0 solid #2a7f69;
    border-right: 0 solid transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.serviceBox:hover:before{
    border-top-width: 78px;
    border-right-width: 78px;
}
.serviceBox:after{
    content: "";
    border-bottom: 0 solid #20c997;
    border-left: 0 solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.serviceBox:hover:after{
    border-bottom-width: 78px;
    border-left-width: 78px;
}
.serviceBox .service-icon{
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 20px;
    border: 2px solid #20c997;
    background: #f1f6f9;
    font-size: 40px;
    color: #ff5722;
    margin-bottom: 20px;
    position: relative;
}
.serviceBox .title{
    font-size: 20px;
    font-weight: 700;
    color: #ff5722;
    letter-spacing: 1px;
    margin: 0 0 12px 0;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease 0s;
}
.serviceBox:hover .title{ letter-spacing: 3px; }
.serviceBox .description{
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 27px;
    margin: 0;
}
@media only screen and (max-width:990px){
    .serviceBox{ margin-bottom: 30px; }
}                        
   
                                  /*****BOLG SECTION***/
#bolg-section .container{
	border:1px solid #dcdcdc;
}
#bolg-section h1{
	text-align:center;
	color:#666666;
	font-weight:bold;
	margin-bottom:12px;
}
#bolg-section h6{
	text-align:center;
	color:#666666;
	font-weight:bold;
	margin-bottom:16px;
}						  
.demo{
    background: linear-gradient(to right,#ffcccc,#d3d3d3);
}
.post-slide{
    margin: 0 15px;
}
.post-slide .post-img{
    overflow: hidden;
}
.post-slide .post-img img{
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: all 1s ease-in-out 0s;
}
.post-slide:hover .post-img img{
    transform: scale(1.08);
}
.post-slide .post-content{
    background: #fff;
    padding: 20px;
}
.post-slide .post-title{
    font-size: 17px;
    font-weight: 600;
    margin-top: 0;
    text-transform: capitalize;
}
.post-slide .post-title a{
    display: inline-block;
    color: #808080;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover{
    color: #3d3030;
    text-decoration: none;
}
.post-slide .post-description{
    font-size: 15px;
    color: #676767;
    line-height: 24px;
    margin-bottom: 14px;
}
.post-slide .post-bar{
    padding: 0;
    margin-bottom: 15px;
    list-style: none;
}
.post-slide .post-bar li{
    color: #676767;
    padding: 2px 0;
}
.post-slide .post-bar li i{
    margin-right: 5px;
}
.post-slide .post-bar li a{
    display: inline-block;
    font-size: 12px;
    color: #808080;
    transition: all 0.3s ease 0s;
}
.post-slide .post-bar li a:after{
    content: ",";
}
.post-slide .post-bar li a:last-child:after{
    content: "";
}
.post-slide .post-bar li a:hover{
    color: #3d3030;
    text-decoration: none;
}
.post-slide .read-more{
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #20c997;
    border-bottom-right-radius: 10px;
    text-transform: capitalize;
    transition: all 0.30s linear;
}
.post-slide .read-more:hover{
    background: #ff5722b3;
    text-decoration: none;
}									  
                                             /***GET ME**/

#get-me p{
	margin-bottom:15px;	
}
#get-me h1{
	text-align:center;
	margin:38px;
	color: #eb5526;
}											 
.serviceIcon {
    margin-bottom: 38px;
    font-size: 42px;
    text-align: center;
    border-radius: 50%;
    background: #abb9b5;
    height: 60px;
    width: 60px;
    /* margin-left: 152px; */
    display: inline-block;
}
.service-Box {
    text-align: center;
    background: #f6f6f6;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
}
 
                                      /*Contact me*/
#contact-me h2 {
    text-align: center;
    /* margin-top: 0px; */
    border: 1px solid;
    color: #ff5722;
    margin-bottom: 25px;
}									  
.contain {
    text-align: center;
    margin: 8px;
}									  
#contact-me {
    background: #2a2b30;
    color: white;
    line-height: 31px;
    font-weight: 500;
}									   
#contact-me h1{
	    width: 236px;
    text-align: center;
    border-bottom: 3px solid #ff5722;
    display: inline-table;
}
#contact-me p{
	    margin-bottom: 0px;
    margin-top: -5px;
}


.contain h5 {
    width: 61px;
    text-align: center;
    border-bottom: 3px solid #ffffff!important;
    display: inline-table;
    color: #ff5722;
}
#contact-me a{
	color:#ffffff!important;
}
#contact-me a:hover{
	color:#20c997!important;
}
#contact-me i{
	    font-size: 38px;
		margin-left:12px;
		text-align:center!important;
	
}
.btn-outline-success {
    color: #ffffff!important;
    background-color: transparent;
    background-image: none;
    border-color: #20c997!important;
}							   
                                       /*footer*/
section#footer {
    background: #363636;
    color: #fffefe;
    
}
#footer a{
	color:#FF5722;
}									   
#medical{
	background-image:url("images/medical-5.jpg");
}